@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Google Search */
    .btn {
        @apply bg-[#f8f9fa] p-3 rounded-md ring-gray-200 text-sm text-gray-900 hover:ring-1 focus:outline-none active:ring-gray-300 hover:shadow-md;
    }

    .link {
        @apply hover:underline cursor-pointer;
    }

    /* Gmail */
    .flex-7 {
        flex: .7;
    }

    .shadow-g {
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    }

    .text-gray-c-400 {
        color: #808080;
    }

    .background-bl {
        background-color: black;
    }

    .bg-gray-sel {
        background-color: #e8e9ec;
    }

    .bg-gray-hov {
        background-color: #f1f2f3;
    }

    .flex-grow-3 {
        flex-grow: .13;
    }

    .flex-grow-7 {
        flex-grow: .9;
    }

    .bg-gray-hov-email-list-section {
        background-color: #f3f3f3;
    }

    .text-gray-email-list-section {
        color: #606368;
    }

    .google-text-green {
        color: #188038;
    }

    .google-text-blue {
        color: #1a73e8;
    }

    .google-bg-green {
        background-color: #188038;
    }

    .google-bg-blue {
        background-color: #1a73e8;
    }

    .google-bg-gray {
        background-color: rgba(242,245,245,0.8);
    }

    .google-row-shadow {
        box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
    }

    .google-row-shadow-hover {
        box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
        z-index: 10;
    }

    .flex-grow-5 {
        flex-grow: .5;
    }

    .text-hov {
        color: black !important;
        opacity: 1 !important;
    }

    .text-black-mail-row-main {
        color: #202124;
    }

    .text-gray-mail-row-side {
        color: #5f6368;
    }

    .w-description-500 {
        width: 1px;
    }

    .text-15 {
        font-size: 0.938rem
    }

    .bb {
        box-shadow: inset -1px 0 0 rgb(100 121 143 / 12%);
    }

    .email-settings-transition {
        transition: box-shadow .15s cubic-bezier(0.4,0.0,0.2,1);
    }

    .email-header-font {
        font-size: 1.375rem;
    }

    .text-gray-emd {
        color: #555555
    }

    .text-gray-emd-2 {
        color: #5f6368
    }

    .email-bg-gray {
        background-color: #f0f2f9
    }

    .min-max-width-300px {
        min-width: 300px;
        max-width: 300px
    }

    .min-max-height-40px {
        min-height: 40px;
        max-height: 40px
    }

    .top-90 {
        top: 71px;
        z-index: 999;
    }

    .header-min-max-h-p {
        max-height: 71px;
        min-height: 71px;
        padding: 5px;
    }

    .img-sec-flex-grow {
        flex-grow: 0.5;
        padding-right: 23px;
        min-width: 290px;
        max-width: 290px;
    }
    .search-bar-flex-grow {
        flex-grow: 1;
        min-width: 324px;
        max-width: 722px;
        
    }
    .app-settings-flex-grow {
        flex-grow: 1;
        justify-content: flex-end;
        min-width: 240px;
        max-width: 240px;
    }

    .texty::placeholder {
        color: #797979;
        font-size: 18px;
        padding-left: 10px
    }

    /* Google Docs */
    .menu-icon-header {
        @apply h-14 w-14 hover:bg-gray-100 hover:text-black header-icon-color border-0 !important;
    }

    .header-icon-color {
        color: #5f6368;
    }

    .header-min-max-h {
        min-height: 73px;
        max-height: 73px
    }

    .search-bar-document{
        flex-grow: 1;
        min-width: 324px;
        max-width: 740px;
        min-height: 55px;
        max-height: 55px;
    }

    .textb::placeholder {
        @apply header-icon-color font-light;
        font-size: 18px;
        color: #767676;
    }

    .search-icon-header {
        @apply h-11 w-11 hover:bg-gray-200 header-icon-color border-0 !important;
        padding-left: 7px;
    }

    .app-icon-header {
        @apply h-12 w-12 hover:bg-gray-100 header-icon-color border-0 !important;
    }
    .img-icon-header {
        @apply h-12 w-12 hover:bg-gray-100 rounded-full !important;
        padding-left: 6px;
        padding-top: 6px;
    }
}

